# Ignore the virtual environment directory
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore editor and OS-specific files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Ignore other specific files or directories
.env
